## Listas

Coleção mutável de objetos

A lista possui valores (elementos) e índices

O indice começa em zero

In [1]:
lista = [] # lista vazia

lista1 = list() # lista vazia

lista2 = [1, 2, 3]

lista3 = ['a', 'b', 'c']

lista4 = [1, 2.0, -3, "quatro", True] # elementos são de tipos diferentes

lista5 = [1, 2.0, -3, "quatro", True, [2, 3]]

In [2]:
print(type(lista))

<class 'list'>

In [3]:
# Acessando o elemento da lista
lista5 = [1, 2.0, -3, "quatro", True, [2, 3]]
print(lista5[3])

quatro

In [4]:
# substituindo elementos da lista (mutável)

lista5[2] = -4 # substituindo o número -3 por -4
print(lista5)

[1, 2.0, -4, 'quatro', True, [2, 3]]

In [7]:
# Acessar uma parte da lista (slice)
impares = [1, 3, 5, 7, 9, 11, 13, 15, 17]

print(impares[3:])

#o último valor é excludente
print(impares[3:8])

#-1 seleciona o último valor da lista (ou a última posição) ---SLICE : ele vai até a última posição
impares[3:-1]

[7, 9, 11, 13, 15, 17]
[7, 9, 11, 13, 15]

[7, 9, 11, 13, 15]

In [8]:
# Slice

numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

numeros[3:11:3] # posições --> [indice_inicial, indice_final, passo]

[3, 6, 9]

In [9]:
# tamanho da lista
len(numeros)

16

In [10]:
# Percorrer a lista
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
for elemento in numeros:
    print(elemento)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [12]:
# outra forma de percorrer a lista
tamanho = len(numeros)
for indice in range(tamanho):
    print(numeros[indice])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# ordenar os elementos
lista= [10,5,3,4,1,72]
auxiliar = 0 

for indice in lista:
    auxiliar = element
    
# percorre a lista procurando o menor valor e adiciona em uma nova lista, excluindo da lista anterior

### Métodos e Funções de listas
https://docs.python.org/3/tutorial/datastructures.html

In [13]:
lista= [10,5,3,4,1,72]
sorted(lista) # função sorted

# a função sorted NÃO altera a lista original, a não ser que seja atribuída ela mesma ou a outra lista

[1, 3, 4, 5, 10, 72]

In [14]:
sorted(lista, reverse=True) # função sorted decrescente

[72, 10, 5, 4, 3, 1]

In [15]:
lista.sort() # tente lista.reverse()

In [17]:

pares = [0, 2, 4, 6, 8]
print(pares)

pares.append(10) # acrescenta um valor ao final da lista
print("Acrescenta um valor ao final da lista")
print(pares)

print("Insere na posição 3 o valor 6")
pares.insert(3, 6) # insere na posição 3 o valor 6
print(pares)

print("Remove o primeiro valor 4 encontrado")
pares.remove(4) # Remove o primeiro valor encontrado
print(pares)
print("Remove o elemento da posição 1")
pares.pop(1) # Remove o elemento da posição 1
print(pares)

[0, 2, 4, 6, 8]
Acrescenta um valor ao final da lista
[0, 2, 4, 6, 8, 10]
Insere na posição 3 o valor 6
[0, 2, 4, 6, 6, 8, 10]
Remove o primeiro valor 4 encontrado
[0, 2, 6, 6, 8, 10]
Remove o elemento da posição 1
[0, 6, 6, 8, 10]

In [18]:
# Buscar um elemento

pi = [3, 1, 4, 1, 5, 9, 2, 6, 5]

# quero saber o índice do valor 5
pi.index(5) # dá a posição do primeiro valor encontrado

4

In [19]:
# Número de vezes do elemento da lista

pi.count(5) # conta quantas vezes o elemento aparece na lista

2

## Operações entre listas

In [20]:
lista =[ 1 , 2 , 3]

lista + lista # adicionou os elementos das duas listas em uma

[1, 2, 3, 1, 2, 3]

In [21]:
lista * 2 # * repete a sequência

[1, 2, 3, 1, 2, 3]

In [22]:
# Multiplica por 2 cada elemento da lista
[2*i for i in lista]

[2, 4, 6]

## List Comprehension (compreensão de listas)

In [23]:
# Lista com o cálculo do quadrado dos valores de 0 a 9

lista_quadrados = []

for i in range(10):
    lista_quadrados.append(i * i)
    
lista_quadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
lista_quadrados2 = [i * i for i in range(10)]
lista_quadrados2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# STRINGS

- string = texto, literal
- string é uma coleção de caracteres
- strings são imutáveis

In [25]:
variavel1 = 'texto'
variavel2 = "palavra"
variavel3 = "Let's Code"

In [26]:
type(variavel3)

str

In [27]:
# Acessar uma string

frase = "Let's Code by Ada Tech"

print(frase[0]) # acessa a partir de índices
print(frase[1])
print(frase[2])
print(frase[3])
print(frase[4])

L
e
t
'
s

In [28]:
frase[0] = 'p'

TypeError: 'str' object does not support item assignment

In [29]:
for caracter in frase:
    print(caracter)

L
e
t
'
s

C
o
d
e

b
y

A
d
a

T
e
c
h

## Operações entre strings

- Concatenar (unir duas ou mais strings)

In [31]:
palavra1 = "crianças"
palavra2 = "dia das "
frase = palavra2 + palavra1
print(frase)

dia das crianças

- Concatenar string com inteiro e float

In [32]:
idade = 22
altura = 1.67

nova_frase = 'A minha idade é ' + str(idade) + ' anos e minha altura é ' + str(altura) + ' metros'

print(nova_frase)

A minha idade é 22 anos e minha altura é 1.67 metros

- repetir a string n vezes

In [34]:
string1 = 'texto'

string1 * 3

'textotextotexto'

 - Copiar uma string através do operador de concatenar

In [35]:
string_inicial = 'Mundo'
string_final = '' # iniciando uma variável com o valor string vazio

for letra in string_inicial:
    print('letra: ', letra)
    print('string_final', string_final)
    
    string_final = string_final + letra
    
    print('string_final', string_final)
    print('mais uma rodada\n')

letra:  M
string_final
string_final M
mais uma rodada

letra:  u
string_final M
string_final Mu
mais uma rodada

letra:  n
string_final Mu
string_final Mun
mais uma rodada

letra:  d
string_final Mun
string_final Mund
mais uma rodada

letra:  o
string_final Mund
string_final Mundo
mais uma rodada

- Transformando uma string em lista

In [36]:
frase = 'texto'

list(frase) # transforma string em lista

['t', 'e', 'x', 't', 'o']

In [37]:
lista_frase = list(frase)
lista_frase

['t', 'e', 'x', 't', 'o']

In [38]:
# na lista consigo alterar a letra 't' por 'T'?

lista_frase[0] = 'T'

print(lista_frase)

['T', 'e', 'x', 't', 'o']

In [39]:
frase[0] = 'T'

TypeError: 'str' object does not support item assignment